/* Admin Control Panel Container */
.admin-control-panel {
    padding: 10px;
    background-color: #2E0273;
    font-family: Arial, sans-serif;
}
h1{color: white}

/* Buttons Container */
.buttons-container {
    margin-bottom: 20px;
}

/* Buttons Styles */
button {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #52abab;
    color: #024402;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #388181;
}

/* Select Box Styles */
select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}

/* Cricket Match Info Styles */
.cricket-match-info {
    background-color: #491ca1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Team Info Styles */
.team-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    color: whitesmoke;
}

.team {
    flex: 1;
    padding: 10px;
    background-color: #3c82ad;
    border-radius: 5px;
}

/* Over Happenings Styles */
.over-happenings {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.over-slot {
    flex: 1;
    background-color: #0c455e;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-right: 5px;
}

/* Table Selector Styles */
.table-selector {
    display: flex;
    margin-bottom: 20px;
}

.table-name {
    flex: 1;
    padding: 10px;
    text-align: center;
    background-color: #3c82ad;
    color: #f9f9f9;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
}

.table-name.active {
    background-color: #284f75;
}

/* Table Content Styles */
.table-content {
    background-color: #9a21c2;
    padding: 20px;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #0c455e;
}

/* Table Styles */
.table {
    color: #0c455e;
    margin-bottom: 20px;
}

.table h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.table ul {

    list-style: none;
    padding: 0;
}

.table li {
    font-size: 16px;
    margin-bottom: 5px;
}


.table-content table th {
    background-color: purple;
}
.table-content table tbody td {
    /*background-color: whitesmoke;*/
}

.table-content table tbody t:nth-child(odd) {
    background-color: #626161;
}



