/* MatchFixtures.css */

.match-fixtures-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: auto;
}

.match-fixture-box {
    border: 1px solid purple;
    margin: 10px;
    padding: 10px;
    padding-top: 0px;
    width: 100%;
    box-sizing: border-box;
    /* display: flex; */
    justify-content: space-between;
    background: #77619b;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: #272727;
    transition: transform 0.2s;
    transition: background-color 0.3s;
}

.match-fixture-box:hover {
    background-color: #aa8bdb;
    transform: scale(1.02);
}

.fixture-teams {
    display: flex;
    flex: 1;
    font-size: 16px;
    font-weight: 600;
    margin: 10px;
    margin-top: 10px;
    text-align: center;
    width: 60%;
    justify-content: space-between;
}

.fixture-teams p {
    margin: 5px 0;
}

.fixture-id {
    cursor: pointer;
    font-size: 15px;
    padding-left: 20px;
}

.fixture-team {
    font-size: 30px;
    font-weight: 650;
    padding-left: 20px;
    padding-top: 0px;
    display: flex;
    margin-bottom: 5px;
    margin-top: 0px;
}

.score p {
    margin: 5px;
    padding: 6px;
    font-size: 20px;
    font-weight: 700;
    /* border: 2px solid black; */
    margin-right: 0px;
}

.balls p {
    margin: 5px;
    padding: 9.5px;
    padding-left: 0px;
    padding-top: 12px;
    padding-bottom: 6px;
    font-size: 14px;
    font-weight: 200;
    margin-left: 0px;
    /* border: 2px solid black; */
}

/* .fixture- { */
/* font-size: 20px; */
/* font-weight: 700; */
/* margin-bottom: 15px; */
/* } */

/* .fixture-info .fixture-date { */
/* font-size: 14px; */
/* color: #555; */
/* } */
/*  */
/* .fixture-info .fixture-teams { */
/* font-size: 18px; */
/* font-weight: 500; */
/* } */
/*  */
/* Style the toss and venue information */
/* .fixture-info .toss-winner { */
/* font-weight: 600; */
/* } */
/*  */
/* .fixture-info .venue { */
/* font-weight: 600; */
/* color: #0078d4; A blue color for venue */
/* } */

/* Add more CSS for styling as needed */